<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smox">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_app"
        android:label="SMOX"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.SMOX"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ConfirmRole"
            android:exported="false" />
        <activity
            android:name=".patient.Homepage"
            android:exported="false" />
        <activity
            android:name=".caretaker.Homepage"
            android:exported="false" />
        <activity
            android:name=".SignIn"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".patient.CreateUsername"
            android:exported="false" />
        <activity
            android:name=".patient.Schedule"
            android:exported="false" />
        <activity
            android:name=".patient.Dosage"
            android:exported="false" />
        <activity
            android:name=".patient.Information"
            android:exported="false" />
        <activity
            android:name=".patient.History"
            android:exported="false" />
        <activity
            android:name=".patient.HistoryDetailOne"
            android:exported="false" />
        <activity
            android:name=".patient.HistoryDetailTwo"
            android:exported="false" />
        <activity
            android:name=".patient.Menu"
            android:exported="false" />
        <activity
            android:name=".caretaker.ConnectPatient"
            android:exported="false" />
        <activity
            android:name=".caretaker.ConfirmPatient"
            android:exported="false" />
        <activity
            android:name=".caretaker.Schedule"
            android:exported="false" />
        <activity
            android:name=".caretaker.Dosage"
            android:exported="false" />
        <activity
            android:name=".caretaker.SetOne"
            android:exported="false" />
        <activity
            android:name=".caretaker.SetTwo"
            android:exported="false" />
        <activity
            android:name=".caretaker.Patient"
            android:exported="false" />
        <activity
            android:name=".caretaker.PatientList"
            android:exported="false" />
        <activity
            android:name=".caretaker.History"
            android:exported="false" />
        <activity
            android:name=".caretaker.HistoryDetailOne"
            android:exported="false" />
        <activity
            android:name=".caretaker.HistoryDetailTwo"
            android:exported="false" />
        <activity
            android:name=".caretaker.Menu"
            android:exported="false" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>